@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');
$color : #e7e7e7;
$border : 1px solid #d9d9d9;
$size_10 : 10px;

body {
  background-color: #4980be;
  font-family: 'Oswald', sans-serif;
}

body, form > div > div {
  display: flex;
  align-items: center;
  justify-content: center;
}

form {
  $width_40 : 40%;
  border: $border;
  border-radius: $size_10;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: $width_40;
  font-size: 20px;
  padding: 15px;
}

label {
  color: $color;
  margin: 15px;
}

$none : none;

input {
  width: 80%;
  border: $none;
  background-color: aliceblue;
  border-radius: $size_10;
  padding: 5px;
  font-size: 20px;
}

#button {
  margin: 15px;
  width: initial;
  background-color: #239DBE;
  color: white;
  font-size: 30px;
}

#button:hover {
  background-color: #0e7894;
  font-weight: bold;
}

#label3::first-letter {
  background-color: #30ad00;
  font-size: 30px;
  padding: 5px;
  border-radius: 50% 50% 0 0 ;
  margin: 0 5px;
}

form > label {
  text-decoration: underline solid;
}

.test:nth-child(2) {
  background-color: #a0d9d9;
}

form > div {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 90%;
}

form > div > div {
  flex-direction: column;
  width: 100%;
}

#label1, #label2 {
  font-style: italic;
}

input.test {
  color: #136bde;
}

form div {
  border: 3px outset #e3e3e3;
  padding: $size_10;
}

input:focus {
  background-color: black;
}

form:hover {
  border: 5px solid #d9d9d9;
  box-shadow: 5px $size_10 $size_10 #ffffff;
}